@import "~antd/dist/antd.css";

.form {
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.formList {
  display: flex;
  /* flex-direction: column; */
  margin: 1rem;
  /* border-radius: 10px; */
  /* border: 1px solid blue; */
}
