@import "~antd/dist/antd.css";

.header_Text_Title {
  height: 0px;
  width: 100%;

  text-align: center;
  font-size: 1.4rem;
  color: #56596a;
  font-weight: bold;
  /* border: 1px solid red; */
  /* margin: 20px 0px; */
}
.card {
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todo {
  display: flex;
  /* flex-direction: column; */
  margin: 1rem;
  /* border-radius: 10px; */
  /* border: 1px solid blue; */
}
