@import "~antd/dist/antd.css";
.content {
  background-color: #fff;
  padding: 1.5rem;
  min-height: 635px;
}
@media only screen and (max-width: 560px) {
  .content {
    /* color: lightblue; */
    /* border: 1px solid red; */
    width: 100%;
    background: #f0f2f5;
  }
}
